h1 {
  color: #469999;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  text-align: center;
}

em {
  color: palevioletred;
}

img {
  text-align: center;
}
ul {
  font-size: 20px;
  line-height: 30px;
}